.mouse {
  border: 2px solid #fff;
  border-radius: 17px;
  height: 45px;
  width: 30px;
  display: block;
  z-index: 10;
  opacity: 0.85;
  margin: 90vh auto;
}

.mouse .wheel__down {
  position: relative;
  border-radius: 4px;
  background: #fff;
  width: 2px;
  height: 7px;
  margin: 0 auto;
}

.mouse .wheel__down {
  -webkit-animation-name: wheel__down;
  -moz-animation-name: wheel__down;
  -o-animation-name: wheel__down;
          animation-name: wheel__down;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes wheel__down {
  0% {
    top: 4px;
    opacity: 1;
  }
  50% {
    top: 14px;
  }
  100% {
    top: 18px;
    opacity: 0;
  }
}

@keyframes wheel__down {
  0% {
    top: 4px;
    opacity: 1;
  }
  50% {
    top: 14px;
  }
  100% {
    top: 18px;
    opacity: 0;
  }
}
